streamlit==1.24.1
pillow==9.5.0
tensorflow==2.19.0  # Pin to the version you have installed locally
numpy==1.26.4
pandas==2.2.2
protobuf>=3.20,<5  # Adjusted to resolve dependency conflict with streamlit
